<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org//dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		연결한 DB에 대한 정보를 설정하는 태그
		1개 이상의 DB연결정보를 설정할 수 있다.
		environment태그를 이용한다.
	 -->
	<properties resource="driver.properties"></properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.emp.model.dto.Employee" alias="emp"/>
	</typeAliases>
	<environments default="mybatis">
		<environment id="mybatis">
			<!-- 트렌젝션을 처리하는 방법설정 -->
			<transactionManager type="JDBC"/>
			<!-- 
				DB연결에 필요한 정보를 등록하는 태그
				1. 드라이버, 2. DB서버주소, 3. 사용자계정, 4. 계정비번
			 -->
			<dataSource type="POOLED">
				<!-- <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="BS"/>
				<property name="password" value="BS"/> -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 실행할 sql문을 설정한 mapper를 등록 -->
	<mappers>
		<mapper resource="/mappers/emp-mapper.xml"/>
	</mappers>
</configuration>
